<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d4a4df3-aa20-4d47-b009-5c6b53198039" Alias="Aaron-Lambert.svg" Level="2">
  <Info>
    <Parent Key="ef6e7f13-cf2c-4c2b-8ad0-03dbacc7eb91">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:55:31</CreateDate>
    <NodeName Default="Aaron-Lambert.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ahyorpz1/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>