<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2d406d6-a75c-4892-a8f6-a4e1485dc141" Alias="AboutPage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutPage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-12T14:46:19</CreateDate>
    <NodeName Default="AboutPage" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>