<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d28e2f9-3e4b-4f6c-bb32-e5970e2c7438" Alias="AJ-Carter.svg" Level="2">
  <Info>
    <Parent Key="ef6e7f13-cf2c-4c2b-8ad0-03dbacc7eb91">Team Members</Parent>
    <Path>/TeamMembers/AJCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:55:41</CreateDate>
    <NodeName Default="AJ-Carter.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bnpjv10q/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>