<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf0b6921-c075-40f7-ad21-635ed3b0b48a" Alias="Assurance-Aidits.svg" Level="2">
  <Info>
    <Parent Key="4d911a60-4403-4cc9-9fc4-7f7b41334386">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/AssuranceAiditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T10:34:30</CreateDate>
    <NodeName Default="Assurance-Aidits.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0pkksxlo/assurance-aidits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>