<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0fd399a-44c5-44b6-8d14-d7adff54239d" Alias="Background_Dot.svg" Level="2">
  <Info>
    <Parent Key="45ce83d0-40aa-46ae-a172-5063650d4b17">ContactUs</Parent>
    <Path>/ContactUs/Background_Dotsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T20:11:45</CreateDate>
    <NodeName Default="Background_Dot.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nccf4mw4/background_dot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>