<?xml version="1.0" encoding="utf-8"?>
<Media Key="29fc5564-8417-452d-8102-0db3b22cec0f" Alias="BackgroundHero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BackgroundHerosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T16:30:54</CreateDate>
    <NodeName Default="BackgroundHero.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s1uf3sym/backgroundhero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>