<?xml version="1.0" encoding="utf-8"?>
<Media Key="07844c56-9b9e-4474-8961-c69b4aa52651" Alias="background_decor.svg" Level="2">
  <Info>
    <Parent Key="45ce83d0-40aa-46ae-a172-5063650d4b17">ContactUs</Parent>
    <Path>/ContactUs/background_decorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T20:11:41</CreateDate>
    <NodeName Default="background_decor.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/utydnzmf/background_decor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>