<?xml version="1.0" encoding="utf-8"?>
<Media Key="1866693a-9b78-4a29-a342-82f2b5bcd247" Alias="Brandon-Newton.svg" Level="2">
  <Info>
    <Parent Key="ef6e7f13-cf2c-4c2b-8ad0-03dbacc7eb91">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:55:46</CreateDate>
    <NodeName Default="Brandon-Newton.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zdkmj4td/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>