<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff0ebd18-8e01-4fa6-83d8-48fc062212a2" Alias="Brandon-Kerr.svg" Level="2">
  <Info>
    <Parent Key="ef6e7f13-cf2c-4c2b-8ad0-03dbacc7eb91">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:55:43</CreateDate>
    <NodeName Default="Brandon-Kerr.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3iakyhi0/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>