<?xml version="1.0" encoding="utf-8"?>
<Media Key="48ea4d5d-5223-4de6-8c03-6f0285768ac0" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T14:33:20</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v5yerkry/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>