<?xml version="1.0" encoding="utf-8"?>
<Media Key="29b9b85e-8314-497c-b0a8-c9380c3f6df8" Alias="chooseUs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/chooseUs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-09T16:11:05</CreateDate>
    <NodeName Default="chooseUs" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>