<?xml version="1.0" encoding="utf-8"?>
<Media Key="37f787ff-b9b7-4b2d-b3f0-e634a3f6888e" Alias="contact-map.svg" Level="2">
  <Info>
    <Parent Key="45ce83d0-40aa-46ae-a172-5063650d4b17">ContactUs</Parent>
    <Path>/ContactUs/contactMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T12:23:16</CreateDate>
    <NodeName Default="contact-map.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bu3flvnm/contact-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>