<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9fc11d5-a81a-4888-9d11-9650612129e0" Alias="Financial-Advisor.svg" Level="2">
  <Info>
    <Parent Key="4d911a60-4403-4cc9-9fc4-7f7b41334386">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/FinancialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T10:34:53</CreateDate>
    <NodeName Default="Financial-Advisor.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e4wf2oyb/financial-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>