<?xml version="1.0" encoding="utf-8"?>
<Media Key="de8ceafb-4c09-4248-812d-af6ce0448478" Alias="fossilgroup.svg" Level="2">
  <Info>
    <Parent Key="bf2b7196-5a76-4f32-b024-f29dee57675e">PartnersLogo</Parent>
    <Path>/PartnersLogo/fossilgroupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T11:33:14</CreateDate>
    <NodeName Default="fossilgroup.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bfld2pas/fossilgroup.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>