<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfb6308e-f91c-40c9-8d6b-8ae3224b4234" Alias="freedombird.svg" Level="2">
  <Info>
    <Parent Key="bf2b7196-5a76-4f32-b024-f29dee57675e">PartnersLogo</Parent>
    <Path>/PartnersLogo/freedombirdsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T11:31:13</CreateDate>
    <NodeName Default="freedombird.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/psgbixih/freedombird.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>