<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0fdd6f9-637b-4b39-ab0d-b48bffeafb54" Alias="globebrand.svg" Level="2">
  <Info>
    <Parent Key="bf2b7196-5a76-4f32-b024-f29dee57675e">PartnersLogo</Parent>
    <Path>/PartnersLogo/globebrandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T11:32:43</CreateDate>
    <NodeName Default="globebrand.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bnvf4ata/globebrand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>