<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5546a6f-0726-4e63-9676-bec9b82958a2" Alias="Icon phone.svg" Level="2">
  <Info>
    <Parent Key="45ce83d0-40aa-46ae-a172-5063650d4b17">ContactUs</Parent>
    <Path>/ContactUs/IconPhonesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T12:01:33</CreateDate>
    <NodeName Default="Icon phone.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/txlpmnz3/icon-phone.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>