<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6c56750-cdd1-4569-aaef-7bb2b631f176" Alias="Icon email.svg" Level="2">
  <Info>
    <Parent Key="45ce83d0-40aa-46ae-a172-5063650d4b17">ContactUs</Parent>
    <Path>/ContactUs/IconEmailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T12:01:56</CreateDate>
    <NodeName Default="Icon email.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ulngongk/icon_email.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>