<?xml version="1.0" encoding="utf-8"?>
<Media Key="996be0f0-73a0-46fc-a884-9204d2c1e950" Alias="Icon address.svg" Level="2">
  <Info>
    <Parent Key="45ce83d0-40aa-46ae-a172-5063650d4b17">ContactUs</Parent>
    <Path>/ContactUs/IconAddresssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T12:01:31</CreateDate>
    <NodeName Default="Icon address.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ajons431/icon_address.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>