<?xml version="1.0" encoding="utf-8"?>
<Media Key="0fcb210a-d93e-4c20-8c0e-d3d20d25d0d5" Alias="identity.svg" Level="2">
  <Info>
    <Parent Key="bf2b7196-5a76-4f32-b024-f29dee57675e">PartnersLogo</Parent>
    <Path>/PartnersLogo/identitysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T11:31:41</CreateDate>
    <NodeName Default="identity.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5cogt1jf/identity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>