<?xml version="1.0" encoding="utf-8"?>
<Media Key="67b1409b-db89-4539-a410-acd2f89c22c4" Alias="ImgContactInfo.svg" Level="2">
  <Info>
    <Parent Key="45ce83d0-40aa-46ae-a172-5063650d4b17">ContactUs</Parent>
    <Path>/ContactUs/ImgContactInfosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T11:54:06</CreateDate>
    <NodeName Default="ImgContactInfo.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nh4bhbms/imgcontactinfo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>