<?xml version="1.0" encoding="utf-8"?>
<Media Key="1797edc3-c00e-479f-b91b-9b4bb2ae47af" Alias="Kevin-Gardner 1.svg" Level="2">
  <Info>
    <Parent Key="ef6e7f13-cf2c-4c2b-8ad0-03dbacc7eb91">Team Members</Parent>
    <Path>/TeamMembers/KevinGardner1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:55:48</CreateDate>
    <NodeName Default="Kevin-Gardner 1.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gfidl3iv/kevin-gardner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>