<?xml version="1.0" encoding="utf-8"?>
<Media Key="26661cf0-e467-4d3d-a83f-7a7832ed8a3a" Alias="kevin-gardner-about.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnerAboutsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T11:59:47</CreateDate>
    <NodeName Default="kevin-gardner-about.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/akqnjrd2/kevin-gardner-about.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>