<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad79f748-01a4-40e9-9797-f9bd8dd0ef9b" Alias="Miranda-Dayton.svg" Level="2">
  <Info>
    <Parent Key="ef6e7f13-cf2c-4c2b-8ad0-03dbacc7eb91">Team Members</Parent>
    <Path>/TeamMembers/MirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:55:51</CreateDate>
    <NodeName Default="Miranda-Dayton.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xjfnwt35/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>