<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f252828-9cd9-4354-be24-ddb2852c684d" Alias="natural.svg" Level="2">
  <Info>
    <Parent Key="bf2b7196-5a76-4f32-b024-f29dee57675e">PartnersLogo</Parent>
    <Path>/PartnersLogo/naturalsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T11:32:10</CreateDate>
    <NodeName Default="natural.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1kkjphoc/natural.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>