<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf2b7196-5a76-4f32-b024-f29dee57675e" Alias="PartnersLogo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PartnersLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-13T11:30:52</CreateDate>
    <NodeName Default="PartnersLogo" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>