<?xml version="1.0" encoding="utf-8"?>
<Media Key="c67f9797-8a5e-4a8e-a16e-8c80b95d7997" Alias="people.svg" Level="2">
  <Info>
    <Parent Key="29b9b85e-8314-497c-b0a8-c9380c3f6df8">chooseUs</Parent>
    <Path>/chooseUs/peoplesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-09T16:11:48</CreateDate>
    <NodeName Default="people.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/muvn0jcf/people.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>