<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb43453b-766b-468f-bdd4-f9af060cdcb4" Alias="post2 1.svg" Level="2">
  <Info>
    <Parent Key="4d911a60-4403-4cc9-9fc4-7f7b41334386">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/post21svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T18:42:12</CreateDate>
    <NodeName Default="post2 1.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zh2ocglq/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>