<?xml version="1.0" encoding="utf-8"?>
<Media Key="35ce8033-16de-43a3-a8f0-b93b4efef33e" Alias="RiskManagement.svg" Level="2">
  <Info>
    <Parent Key="4d911a60-4403-4cc9-9fc4-7f7b41334386">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T10:34:59</CreateDate>
    <NodeName Default="RiskManagement.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ye4hzv4f/riskmanagement.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>