<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f561aca-b759-40a9-aafb-abc3bf95bf96" Alias="signature.svg" Level="2">
  <Info>
    <Parent Key="4d911a60-4403-4cc9-9fc4-7f7b41334386">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T13:05:44</CreateDate>
    <NodeName Default="signature.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hctpjhkc/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>