<?xml version="1.0" encoding="utf-8"?>
<Media Key="81a411c4-1cc9-4c56-ab15-57c1a205d5f0" Alias="signature.svg (1)" Level="2">
  <Info>
    <Parent Key="4d911a60-4403-4cc9-9fc4-7f7b41334386">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/signaturesvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T10:27:07</CreateDate>
    <NodeName Default="signature.svg (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g0wamy4s/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>