<?xml version="1.0" encoding="utf-8"?>
<Media Key="421d0b0a-1fe6-4c45-98e0-c302a69ff669" Alias="simpleleaf.svg" Level="2">
  <Info>
    <Parent Key="bf2b7196-5a76-4f32-b024-f29dee57675e">PartnersLogo</Parent>
    <Path>/PartnersLogo/simpleleafsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T11:32:28</CreateDate>
    <NodeName Default="simpleleaf.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5c1l5ih3/simpleleaf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>