<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b93f40e-7706-4f28-aa4f-16ad73288acc" Alias="SuccesStoryBackground.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SuccesStoryBackgroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T10:05:32</CreateDate>
    <NodeName Default="SuccesStoryBackground.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5reddsi3/successtorybackground.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>