<?xml version="1.0" encoding="utf-8"?>
<Media Key="001771c6-b736-4944-b9ef-b7f325897267" Alias="TinaFoxAbout.svg" Level="2">
  <Info>
    <Parent Key="b2d406d6-a75c-4892-a8f6-a4e1485dc141">AboutPage</Parent>
    <Path>/AboutPage/TinaFoxAboutsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T14:46:28</CreateDate>
    <NodeName Default="TinaFoxAbout.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gtgllyrn/tinafoxabout.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>