<?xml version="1.0" encoding="utf-8"?>
<Media Key="5aa46bfd-154f-4890-80f8-a102ebdb04da" Alias="TinaFoxAbout.svg (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/TinaFoxAboutsvg1</Path>
    <Trashed Parent="b2d406d6-a75c-4892-a8f6-a4e1485dc141">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T21:51:31</CreateDate>
    <NodeName Default="TinaFoxAbout.svg (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b5lanocu/tinafoxabout.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>