<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e27c019-e799-4f65-9e58-b9401d9f8755" Alias="Tina-Fox.svg" Level="2">
  <Info>
    <Parent Key="ef6e7f13-cf2c-4c2b-8ad0-03dbacc7eb91">Team Members</Parent>
    <Path>/TeamMembers/TinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:55:53</CreateDate>
    <NodeName Default="Tina-Fox.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3n4jlpec/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>