<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a3ec019-f126-4e6a-aa21-6f824202a636" Alias="Video.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Videosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T10:04:50</CreateDate>
    <NodeName Default="Video.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3n4jz4b3/video.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>