<?xml version="1.0" encoding="utf-8"?>
<Media Key="b141231e-f1d9-49e1-a4dd-f8cca36d0965" Alias="widget.svg" Level="2">
  <Info>
    <Parent Key="4d911a60-4403-4cc9-9fc4-7f7b41334386">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/widgetsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T20:29:27</CreateDate>
    <NodeName Default="widget.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3spogu4c/widget.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>