<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2755510-5507-4de1-b49c-7b08e4f0a8ae" Alias="world.svg" Level="2">
  <Info>
    <Parent Key="29b9b85e-8314-497c-b0a8-c9380c3f6df8">chooseUs</Parent>
    <Path>/chooseUs/worldsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-09T16:11:32</CreateDate>
    <NodeName Default="world.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2lunoia2/world.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>