<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca82488c-ce91-44d1-b8a9-716cc34acc1a" Alias="world.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/worldsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T10:28:46</CreateDate>
    <NodeName Default="world.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p10dakek/world.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>