<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef101233-636c-4a9a-9156-fa658ec10a2b" Alias="world.svg (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/worldsvg2</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T10:30:46</CreateDate>
    <NodeName Default="world.svg (2)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ygxledlx/world.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>