<?xml version="1.0" encoding="utf-8"?>
<Media Key="01e41a8b-02e6-4519-a48e-c3ede3008885" Alias="world.svg (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/worldsvg1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T10:30:11</CreateDate>
    <NodeName Default="world.svg (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pgtfny53/world.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>