<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ac4239d-5288-4cc4-86dc-9b1478273f74" Alias="2025-11-06 18:34 - Malin" Level="2">
  <Info>
    <Parent Key="1c84dbb6-5ebc-4667-bc2c-199a056c1313">Form Submissions</Parent>
    <Path>/FormSubmissions/Malin</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T18:34:00</CreateDate>
    <NodeName Default="2025-11-06 18:34 - Malin" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[malin@hotmail.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Malin]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0735790136]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>