<?xml version="1.0" encoding="utf-8"?>
<Content Key="d67722d2-89ad-49be-a95e-48a923fbfb9a" Alias="2025-11-06 18:51 - test" Level="2">
  <Info>
    <Parent Key="1c84dbb6-5ebc-4667-bc2c-199a056c1313">Form Submissions</Parent>
    <Path>/FormSubmissions/test</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T18:51:38</CreateDate>
    <NodeName Default="2025-11-06 18:51 - test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@domain.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0707101010]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>