<?xml version="1.0" encoding="utf-8"?>
<Content Key="557954b5-d7fa-41f0-ba3e-01be351c4534" Alias="2025-11-06 18:58 - test test" Level="2">
  <Info>
    <Parent Key="1c84dbb6-5ebc-4667-bc2c-199a056c1313">Form Submissions</Parent>
    <Path>/FormSubmissions/testTest</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T18:58:01</CreateDate>
    <NodeName Default="2025-11-06 18:58 - test test" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0735790136]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>