<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8a210af-a032-43ec-a8a3-f687b2e96e19" Alias="2025-11-06 18:53 - john doe" Level="2">
  <Info>
    <Parent Key="1c84dbb6-5ebc-4667-bc2c-199a056c1313">Form Submissions</Parent>
    <Path>/FormSubmissions/johnDoe</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T18:53:29</CreateDate>
    <NodeName Default="2025-11-06 18:53 - john doe" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[doe@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[john doe]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0735790136]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>