<?xml version="1.0" encoding="utf-8"?>
<Content Key="6374c7c8-5e74-428c-a8c7-b827130bb075" Alias="Contact" Level="2">
  <Info>
    <Parent Key="2ca94a36-7dc2-43e1-a32c-502531e83dfe">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-28T18:33:55</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7edfb633-bbae-4e7e-bfd6-655b96f8a245">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>