<?xml version="1.0" encoding="utf-8"?>
<Content Key="6374c7c8-5e74-428c-a8c7-b827130bb075" Alias="Contact" Level="2">
  <Info>
    <Parent Key="2ca94a36-7dc2-43e1-a32c-502531e83dfe">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-28T18:33:55</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7edfb633-bbae-4e7e-bfd6-655b96f8a245">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Contact Us"
}]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8f951c2b-1a43-4e9e-a3d3-1dfd6e6a533d",
      "key": "21dfb4c4-6dff-4807-8c9d-51be7915e092",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "57886605-d0bc-4fff-abe4-e4c6fecc0425",
              "mediaKey": "67b1409b-db89-4539-a410-acd2f89c22c4",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cdiv\u003E\u003C/div\u003E\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "backgroundRectangle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c44ec986-b3e3-4cc6-a47f-3f014a2798b2",
              "mediaKey": "07844c56-9b9e-4474-8961-c69b4aa52651",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundDots",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b5e606fd-a336-4c67-b207-e5f341614035",
              "mediaKey": "d0fd399a-44c5-44b6-8d14-d7adff54239d",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "21dfb4c4-6dff-4807-8c9d-51be7915e092",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "21dfb4c4-6dff-4807-8c9d-51be7915e092",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>