<?xml version="1.0" encoding="utf-8"?>
<Content Key="6374c7c8-5e74-428c-a8c7-b827130bb075" Alias="Contact" Level="2">
  <Info>
    <Parent Key="2ca94a36-7dc2-43e1-a32c-502531e83dfe">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-28T18:33:55</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7edfb633-bbae-4e7e-bfd6-655b96f8a245">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Contact Us"
}]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8f951c2b-1a43-4e9e-a3d3-1dfd6e6a533d",
      "key": "21dfb4c4-6dff-4807-8c9d-51be7915e092",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "57886605-d0bc-4fff-abe4-e4c6fecc0425",
              "mediaKey": "67b1409b-db89-4539-a410-acd2f89c22c4",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cdiv\u003E\u003C/div\u003E\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "backgroundRectangle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c44ec986-b3e3-4cc6-a47f-3f014a2798b2",
              "mediaKey": "07844c56-9b9e-4474-8961-c69b4aa52651",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundDots",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b5e606fd-a336-4c67-b207-e5f341614035",
              "mediaKey": "d0fd399a-44c5-44b6-8d14-d7adff54239d",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "6b4d6a33-0917-42e8-bac3-063a192a23ad",
      "key": "3c151c63-0575-444d-826c-4e3daed656b0",
      "udi": null,
      "values": [
        {
          "alias": "partnerLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Partners Section"
        },
        {
          "alias": "partnersList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "81bcc2d7-93ce-4588-ba10-4e4d049c1ed6",
                "key": "2706129c-8519-4113-b2f8-40c5d93aa73d",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FreedomBird"
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "38f02a65-47b4-4115-bdd0-13f602af258f",
                        "mediaKey": "bfb6308e-f91c-40c9-8d6b-8ae3224b4234",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "81bcc2d7-93ce-4588-ba10-4e4d049c1ed6",
                "key": "cb391b26-f0ad-4512-a0d0-f22850419d01",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "15de34ce-4f08-4b02-8792-6a440532be7b",
                        "mediaKey": "0fcb210a-d93e-4c20-8c0e-d3d20d25d0d5",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "81bcc2d7-93ce-4588-ba10-4e4d049c1ed6",
                "key": "4f771690-7642-4c35-882a-fd6eb88601d2",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e5c7bdd5-a119-41cf-b13a-0a0c7f7a6355",
                        "mediaKey": "7f252828-9cd9-4354-be24-ddb2852c684d",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "81bcc2d7-93ce-4588-ba10-4e4d049c1ed6",
                "key": "cb0ff149-bb79-428e-97a1-7cf35f2e749b",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simple Leaf"
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "bf821cc1-a9a1-4071-b729-0431542a9d0b",
                        "mediaKey": "421d0b0a-1fe6-4c45-98e0-c302a69ff669",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "81bcc2d7-93ce-4588-ba10-4e4d049c1ed6",
                "key": "ee27e15d-d262-48ee-ada4-545bfdefeb5a",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "9415e54a-9454-45d8-932b-9c8a81f587d2",
                        "mediaKey": "e0fdd6f9-637b-4b39-ab0d-b48bffeafb54",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "81bcc2d7-93ce-4588-ba10-4e4d049c1ed6",
                "key": "bac29154-e1f0-479c-941d-c6933a9f67f5",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FossilGroup"
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d5800ca1-5869-46ff-b2d8-882c7d5a4bf9",
                        "mediaKey": "de8ceafb-4c09-4248-812d-af6ce0448478",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "2706129c-8519-4113-b2f8-40c5d93aa73d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "cb391b26-f0ad-4512-a0d0-f22850419d01",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4f771690-7642-4c35-882a-fd6eb88601d2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "cb0ff149-bb79-428e-97a1-7cf35f2e749b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ee27e15d-d262-48ee-ada4-545bfdefeb5a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "bac29154-e1f0-479c-941d-c6933a9f67f5",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "2706129c-8519-4113-b2f8-40c5d93aa73d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "cb391b26-f0ad-4512-a0d0-f22850419d01",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4f771690-7642-4c35-882a-fd6eb88601d2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "cb0ff149-bb79-428e-97a1-7cf35f2e749b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ee27e15d-d262-48ee-ada4-545bfdefeb5a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "bac29154-e1f0-479c-941d-c6933a9f67f5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "21dfb4c4-6dff-4807-8c9d-51be7915e092",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3c151c63-0575-444d-826c-4e3daed656b0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "21dfb4c4-6dff-4807-8c9d-51be7915e092",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3c151c63-0575-444d-826c-4e3daed656b0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>