<?xml version="1.0" encoding="utf-8"?>
<Content Key="44827851-8b46-4242-bb55-4aca6b11b445" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="8efd63a9-3b56-42a2-8365-00171af5a088">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-31T10:49:17</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a6c080bf-e5d3-4077-a8c4-55b07eee67b6">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Financial Advisor"
}]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "cc30ba26-d463-4ce6-b954-11fce844d258",
      "key": "53ebfdb3-6240-4071-bb81-8e439b6252fe",
      "udi": null,
      "values": [
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non"
          }
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c9dd3464-95a2-4602-a4c3-37b92c2f385d",
              "mediaKey": "b141231e-f1d9-49e1-a4dd-f8cca36d0965",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "About us"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "53ebfdb3-6240-4071-bb81-8e439b6252fe",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "53ebfdb3-6240-4071-bb81-8e439b6252fe",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailContentSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8f951c2b-1a43-4e9e-a3d3-1dfd6e6a533d",
      "key": "aec92ca3-312f-4610-9ace-fa475018d3b8",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "37cd57f7-11be-4c6b-a902-0906fe7d1f4e",
              "mediaKey": "67b1409b-db89-4539-a410-acd2f89c22c4",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "backgroundRectangle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d315853f-fe4c-454c-a36e-3732c660c02c",
              "mediaKey": "07844c56-9b9e-4474-8961-c69b4aa52651",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundDots",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "dcaa87e8-ab55-436c-8f1d-6c088bc27ed6",
              "mediaKey": "d0fd399a-44c5-44b6-8d14-d7adff54239d",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "29e9cffb-cb95-4fd5-b4f5-53adef592f93",
      "key": "d8f74495-28bd-40ae-82e9-e2824b6c3202",
      "udi": null,
      "values": [
        {
          "alias": "serviceQuestionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cdiv\u003E\u003C/div\u003E\u003Cp class=\u0022text-rte-md font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EHave a question ?\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "aec92ca3-312f-4610-9ace-fa475018d3b8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d8f74495-28bd-40ae-82e9-e2824b6c3202",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "aec92ca3-312f-4610-9ace-fa475018d3b8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d8f74495-28bd-40ae-82e9-e2824b6c3202",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailContentSection>
    <serviceDetailExcerpt>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
}]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "2208335c-35c6-4f18-9992-1be3da8b0a8c",
    "mediaKey": "d9fc11d5-a81a-4888-9d11-9650612129e0",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>