<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c84dbb6-5ebc-4667-bc2c-199a056c1313" Alias="Form Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FormSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>formSubmissions</ContentType>
    <CreateDate>2025-11-06T15:29:02</CreateDate>
    <NodeName Default="Form Submissions" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>