<?xml version="1.0" encoding="utf-8"?>
<Content Key="8efd63a9-3b56-42a2-8365-00171af5a088" Alias="Services" Level="2">
  <Info>
    <Parent Key="2ca94a36-7dc2-43e1-a32c-502531e83dfe">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-29T10:59:13</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="19bd9a1f-17f1-4ec1-87d5-a30b2b750e03">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "25bc6645-c6ed-41d1-b21d-b6d861cd977a",
      "key": "b42c7773-933a-4a51-884f-523b80a76b31",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "edf58433-3151-473c-9588-da0fdc9760eb",
      "key": "34b8e6dd-252f-429e-8c47-0646d8898729",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b42c7773-933a-4a51-884f-523b80a76b31",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b42c7773-933a-4a51-884f-523b80a76b31",
        "contentUdi": null,
        "settingsKey": "34b8e6dd-252f-429e-8c47-0646d8898729",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>