<?xml version="1.0" encoding="utf-8"?>
<Content Key="fdfe239c-f8f8-4944-b9b0-952db59729f2" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-29T14:38:57</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u0026nbsp;Klarabergsviadukten 90, 111 52 Stockholm\u003C/p\u003E"
}]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003Esales@onatrix.com\u003C/p\u003E"
}]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u002B46 8 123 456 75\u003C/p\u003E"
}]]></Value>
    </contactPhone>
    <copyrightText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u00A9 Onatrix. All Rights Reserved. Credits to"
}]]></Value>
    </copyrightText>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "65966800-77fb-46ed-9ab2-14d27fabf892",
      "key": "949eb284-b79b-4d5b-93ae-390183b29483",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "https://www.facebook.com"
          }
        }
      ]
    },
    {
      "contentTypeKey": "65966800-77fb-46ed-9ab2-14d27fabf892",
      "key": "bae5a917-0240-4f4b-bc70-9a4b6783b601",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "https://www.x.com"
          }
        }
      ]
    },
    {
      "contentTypeKey": "65966800-77fb-46ed-9ab2-14d27fabf892",
      "key": "47de61b8-4d02-4932-8144-139f740d1a72",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "https://www.linkedin.com"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "949eb284-b79b-4d5b-93ae-390183b29483",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bae5a917-0240-4f4b-bc70-9a4b6783b601",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "47de61b8-4d02-4932-8144-139f740d1a72",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "949eb284-b79b-4d5b-93ae-390183b29483",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "bae5a917-0240-4f4b-bc70-9a4b6783b601",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "47de61b8-4d02-4932-8144-139f740d1a72",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "68c2646b-4911-4635-8f2e-1860d765b2ef",
    "mediaKey": "48ea4d5d-5223-4de6-8c03-6f0285768ac0",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Onatrix"
}]]></Value>
    </siteName>
  </Properties>
</Content>