<?xml version="1.0" encoding="utf-8"?>
<Content Key="67e295e6-2b0d-455a-986f-b2f7a7fb7d82" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="8efd63a9-3b56-42a2-8365-00171af5a088">Services</Parent>
    <Path>/Onatrix/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-31T10:49:54</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a6c080bf-e5d3-4077-a8c4-55b07eee67b6">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "cc30ba26-d463-4ce6-b954-11fce844d258",
      "key": "9906d657-f2ad-42b2-9866-7ec50ce4a57e",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "188323cb-364f-4cec-9243-8cdac7eba688",
              "mediaKey": "b141231e-f1d9-49e1-a4dd-f8cca36d0965",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "9906d657-f2ad-42b2-9866-7ec50ce4a57e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9906d657-f2ad-42b2-9866-7ec50ce4a57e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "e69b99d4-e613-4b48-8e28-e957f8066f3a",
    "mediaKey": "d6f34b09-f846-4b25-9c35-09e522b8ce1d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>