@import "tailwindcss";

@theme {
    --color-neutral: #ffffff;
    --color-white: #F2EDDC;
    --color-white-100: #F7F7F7;
    --color-dark: #0E0E0E;
    --color-primary: #4F5955;
    --color-main-light: #606966;
    --color-accent: #F2EDDC;
    --color-secondary: #D9C3A9;
    --color-gray-400: #4B5264;
    --color-body-text: #535656;
    --color-body-text-100: #999999;
    --color-note1: #9C9EA6;
    --color-borden_gray: #EAEAEA;
    --color-border-400: #C7C8C9;



    --font-poppins: "poppins", sans-serif;
}

body {
    @apply font-poppins;
}


.rte header {
    @apply text-[2.5rem] text-primary font-bold;
}

.current a {
    @apply text-secondary;
}
