<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b0ceba58-17d2-4d9b-9ecb-184d7ecc1963" Alias="formSubmissions" Level="2">
  <Info>
    <Name>Form Submissions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d26d5afe-364b-4ea5-b36d-95d57dd0ef41" SortOrder="0">callbackRequest</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>