<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="08bd6566-f472-4ee3-a05e-a1c5d5569081" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2b702002-c64c-451b-8f95-4247c786ed3e">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="11a01f15-2dea-4050-baa8-f69f27545b55" SortOrder="0">contactPage</ContentType>
    <ContentType Key="89990a82-a26b-4d27-b671-4fecf3428654" SortOrder="1">servicePage</ContentType>
    <ContentType Key="23d0b7ae-2fe8-4571-becb-fdadf9ecc2e2" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>e7b835bf-c269-4fc4-bf13-314f036b25ab</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>9067910e-bbac-4171-93b9-8a95e10a8ee5</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d349ae1c-b068-4baf-bb25-016eefd664eb</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>