<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cdc40cc4-2ad6-4d9b-a6c0-43d711bbf41a" Alias="About Callback Settings - CallbackRequestOptions - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>About Callback Settings - CallbackRequestOptions - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>