<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9067910e-bbac-4171-93b9-8a95e10a8ee5" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8ae2d2fd-4be3-4ec0-a638-e147a6b620c5",
      "backgroundColor": "#00000000",
      "iconColor": "#00000000"
    },
    {
      "contentElementTypeKey": "25bc6645-c6ed-41d1-b21d-b6d861cd977a",
      "settingsElementTypeKey": "edf58433-3151-473c-9588-da0fdc9760eb",
      "backgroundColor": "#000000",
      "iconColor": "#000000"
    },
    {
      "contentElementTypeKey": "311d7a4d-922f-46fa-9f3f-a45ff41dcd36"
    },
    {
      "contentElementTypeKey": "a8a1b987-297c-43fe-91cb-c6949a297e70",
      "label": "",
      "editorSize": "",
      "forceHideContentEditorInOverlay": false,
      "settingsElementTypeKey": "fa9a27f7-ebe5-4ec4-8692-782bdfe25b2d"
    },
    {
      "contentElementTypeKey": "697ccd31-de4c-482e-bef4-0aa13c8434da",
      "label": "Choose Us Section"
    },
    {
      "contentElementTypeKey": "8f951c2b-1a43-4e9e-a3d3-1dfd6e6a533d",
      "label": "Contact Info Section"
    },
    {
      "contentElementTypeKey": "2b35ae40-0d92-47fc-b3de-b0fa45af9b0a",
      "label": "About Intro Section"
    },
    {
      "contentElementTypeKey": "6b4d6a33-0917-42e8-bac3-063a192a23ad",
      "label": "Partners Section"
    }
  ],
  "maxPropertyWidth": "",
  "useLiveEditing": false
}]]></Config>
</DataType>