<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9067910e-bbac-4171-93b9-8a95e10a8ee5" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8ae2d2fd-4be3-4ec0-a638-e147a6b620c5",
      "backgroundColor": "#00000000",
      "iconColor": "#00000000"
    },
    {
      "contentElementTypeKey": "25bc6645-c6ed-41d1-b21d-b6d861cd977a",
      "settingsElementTypeKey": "edf58433-3151-473c-9588-da0fdc9760eb"
    },
    {
      "contentElementTypeKey": "311d7a4d-922f-46fa-9f3f-a45ff41dcd36"
    }
  ]
}]]></Config>
</DataType>