<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8c51fcb-8128-4923-bfa0-1ab192da8074" Alias="Partners List" Level="1">
  <Info>
    <Name>Partners List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "81bcc2d7-93ce-4588-ba10-4e4d049c1ed6",
      "label": "{{partnerName}}"
    }
  ]
}]]></Config>
</DataType>