<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bfd73b52-2c5a-4c3b-9e8c-b5b12bf5f0b5" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cc30ba26-d463-4ce6-b954-11fce844d258"
    }
  ]
}]]></Config>
</DataType>