<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bfd73b52-2c5a-4c3b-9e8c-b5b12bf5f0b5" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cc30ba26-d463-4ce6-b954-11fce844d258"
    },
    {
      "contentElementTypeKey": "8f951c2b-1a43-4e9e-a3d3-1dfd6e6a533d",
      "label": "{umbValue: contactInfoTitle}"
    },
    {
      "contentElementTypeKey": "4705fa2b-b871-4602-a75a-19891092baa7",
      "label": "Support Form"
    }
  ]
}]]></Config>
</DataType>