<?xml version="1.0" encoding="utf-8"?>
<DataType Key="05f4786b-847f-4007-914b-527ac961b3e3" Alias="Service Detail Asides -List" Level="1">
  <Info>
    <Name>Service Detail Asides -List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cc30ba26-d463-4ce6-b954-11fce844d258"
    },
    {
      "contentElementTypeKey": "8f951c2b-1a43-4e9e-a3d3-1dfd6e6a533d",
      "label": "{umbValue: contactInfoTitle}"
    }
  ]
}]]></Config>
</DataType>