<?xml version="1.0" encoding="utf-8"?>
<DataType Key="03746f29-b55b-4051-96c0-33252165be6b" Alias="Site Settings - Platform List " Level="1">
  <Info>
    <Name>Site Settings - Platform List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "65966800-77fb-46ed-9ab2-14d27fabf892",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>