<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8e236d3a-248c-4751-ba21-787c59951396" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3488a100-d238-4b24-9a8a-784dc7c409fe",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>